x-poll-config: &poll-config
  POLL_CONFIG: |
    - url: https://github.com/DylanCz/homelab-docker.git
      interval: 180

services:
  app:
    container_name: doco-cd
    image: ghcr.io/kimdre/doco-cd:0.54.1
    restart: unless-stopped
    ports:
      - "9120:9120"
    environment:
      TZ: Europe/Berlin
      GIT_ACCESS_TOKEN: xxx
      <<: *poll-config
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /home/dylan/Docker/data:/data
volumes:
  data:
