version: "3.8"

services:
  grafana:
    image: grafana/grafana:12.3
    container_name: grafana
    ports:
      - 3000:3000
    restart: unless-stopped
    networks:
      lan:
        ipv4_address: 172.19.0.20
    volumes:
      - /home/dylan/Docker/Grafana/config:/var/lib/grafana
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.grafana.rule=Host(`grafana.home.local`)"
      - "glance.name=Grafana"
      - "glance.icon=si:grafana"
      - "glance.url=http://grafana.home.local/"
      - "glance.description=Monitoring"
      - "glance.id=grafana"
    user: "472"

networks:
  lan:
    external: true
