version: "3.8"

services:
  prometheus:
    image: prom/prometheus:v3.8.0
    container_name: prometheus
    restart: unless-stopped
    volumes:
      - /home/dylan/Docker/Prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
      - "--web.console.libraries=/etc/prometheus/console_libraries"
      - "--web.console.templates=/etc/prometheus/consoles"
      - "--web.enable-lifecycle"
    ports:
      - 9090:9090
    networks:
      lan:
        ipv4_address: 172.19.0.21
    labels:
      - "glance.name=Prometheus"
      - "glance.parent=grafana"

  node-exporter:
    image: prom/node-exporter:v1.10.2
    container_name: node-exporter
    restart: unless-stopped
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - "--path.procfs=/host/proc"
      - "--path.rootfs=/rootfs"
      - "--path.sysfs=/host/sys"
      - "--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)"
    ports:
      - 9100:9100
    networks:
      lan:
        ipv4_address: 172.19.0.22
    labels:
      - "glance.name=Node Exporter"
      - "glance.parent=grafana"

networks:
  lan:
    external: true

volumes:
  prometheus_data: {}
