version: "3.5"

services:
  jellyfin:
    container_name: jellyfin
    image: jellyfin/jellyfin:10.11
    restart: unless-stopped
    user: 1000:1000
    ports:
      - 8096:8096
    group_add:
      - "107" # render
      - "44" # video
    volumes:
      - /home/dylan/Docker/Jellyfin/config:/config
      - /home/dylan/Docker/Jellyfin/cache:/cache
      - /home/dylan/Docker/data/media:/media
    networks:
      lan:
        ipv4_address: 172.19.0.10
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.jellyfin.rule=Host(`jellyfin.home.local`)"
      - "glance.name=Jellyfin"
      - "glance.icon=si:jellyfin"
      - "glance.url=http://jellyfin.home.local/"
      - "glance.description=Media Server"

networks:
  lan:
    external: true
